* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #acacac;
  width: 100%;
  font-family: "Lato", sans-serif;
}

.wrapper {
  max-width: 75%;
  background-color: white;
  padding: 20px;
  margin: 0 auto;
}

.calculator__title {
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  color: #cf0000;
  letter-spacing: 3px;
  margin-bottom: 25px;
}
.calculator__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.calculator-body {
  padding: 25px;
  border-radius: 5%;
  background-color: #e9e9e9;
  margin: 10px;
}
.calculator-body__content {
  padding: 10px;
  margin-bottom: 10px;
  background-color: white;
  border-radius: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.calculator-body__content_title {
  font-size: 22px;
  line-height: 25px;
  margin: 10px;
  text-align: center;
}
.calculator-body__content_input {
  margin-bottom: 10px;
}
.calculator-body__content_input input {
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  color: #cf0000;
  height: 30px;
  padding: 5px;
}
.calculator-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #e9e9e9;
  padding: 25px;
  border-radius: 5%;
  margin: 10px;
}
.calculator-content__title {
  font-size: 22px;
  line-height: 25px;
  margin-bottom: 25px;
  letter-spacing: 2px;
  color: #cf0000;
}
.calculator-content__add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.calculator-content__add_bank {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #acacac;
}
.calculator-content__add_btn {
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid #acacac;
  background-color: #acacac;
}
.calculator-content__bank {
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  margin: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  background-color: white;
  border-radius: 5%;
  border: 1px solid #acacac;
  width: 100%;
}
.calculator-content__bank_value {
  margin: 0 20px;
}
.calculator-content__bank_btn {
  padding: 5px;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
}
.calculator-results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #e9e9e9;
  padding: 25px;
  border-radius: 5%;
  margin: 10px;
}
.calculator-results__item {
  background-color: white;
  padding: 25px;
  border-radius: 5%;
  border: 1px solid #acacac;
  margin: 5px;
  text-align: center;
}
.calculator-results__item-title {
  font-size: 22px;
  line-height: 25px;
}
.calculator-results__item-value {
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
}
.calculator-results__item-value_val {
  margin-left: 7px;
}

.active {
  border: 2px solid #cf0000;
}