// size

$bigSizeText: 30px;
$smallSizeText: 22px;
$lightSizeText: 16px;



// colors
// $primaryColor:
 $secondColor: #cf0000;
 $lightColor: white;
 $basicColor: rgb(233, 233, 233);
 $greyColor: rgb(172, 172, 172);

// fonts
$fontFamily:'Lato', sans-serif;